header{
    height:20vh;
    position:fixed;
    width:100%;
    transition:all  1s;
    
}
header.sticky{
    height:18vh;
    background:#0e04367e;
    
}
h1{
    position:fixed;
    top:50px;
    right:50px;
    color:#eee;
}
.navbar{
    background:#0e0436;
    width:30%;
    height:100vh;
    left:-450px;
    transition:all 1s;

}
.change{
    left:0px;
}
.navbar ul{
    margin-left:100px;
}
.navbar ul li{
    margin-bottom:40px;
    list-style: none;
}
.navbar ul li > a{
    font-size:18px;
    color:#eee;
    text-decoration:none;
}
.hamburger-menu{
    width:35px;
    height:30px;
    position:fixed;
    top:50px;
    left:50px;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.line{
    width:100%;
    height:3px;
    transition:all 1s;
    background:#eee;
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2{
    opacity:0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}

::-webkit-scrollbar{
    background:rgba(14, 4, 54,.9);
    width:8px;
    
}
::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius:20px;
}

/*section*/
.sesion1{
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../imgs/vector-mountain-landscape-with-stardust-background-illustration.jpg);
    background-size:cover;
    background-position:bottom;
    background-attachment:fixed;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sesion1__content{
    color:#eee;
    text-align:center;
    font-size:22px;
}
.sesion1__content > a{
    border-radius:10em;
    width:250px;
}


/*section two*/
.sesion2{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../imgs/female\ jogging\ with\ dog\ 2701.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

#sesion2__content{
    color:#eee;
    width:60%;
    font-size:20px;
}